In [1]:
s = '23a'
for i in s:
    if i.isdigit() == True:
        print(i, end=' ')

2 3

In [2]:
employee_name = {"Stokes","Kohli","Dhoni"}

In [3]:
employee_name

{'Dhoni', 'Kohli', 'Stokes'}

In [4]:
type(employee_name)

set

In [5]:
a = 5
b = 3
c= 30

In [6]:
a|b

7

In [7]:
string = "I2am3Praneeth"
string[0:5]
len(string[5:13])
str1 = string.upper()
#string.replace('2','4')
#type(string)
string[::-1]

'hteenarP3ma2I'

In [8]:
str1.replace('2','4')
str1.count('E')
#str2 = str1.replace('PRANEETH','MAHESH')
#str2.count('E')

2

In [9]:
s1 = 'I am Praneeth'
s1.find('P')
s2 = 'Students are John, Mac, Maddy' 
s2.split(',')

['Students are John', ' Mac', ' Maddy']

Tuples is immutable

In [10]:
tup1 = (1,'Praneeth','Faizal',True,False)
tup1[1]
tup1[1:5]
len(tup1)
tup2 = (23,'Ali','Dennis', True, 3+7j)
tup = tup1+tup2
tup3 = (12,345,3222,10,-1,11,53)
d = min(tup3)+max(tup3)
d

3221

Lists are mutable

In [11]:
lis1 = [12,'Praneeth','Rohan', True, 3+5j, 12]
lis1[1]='Surya'
lis2 = ['Zeno','Anj','Karthik']
lis1[0:4]
#lis1[1] = 15
#lis1[2] = 18
lis1
lis1.append(4-6j)
lis1
lis1.pop()
lis1
#lis1.reverse()
lis1
lis2.sort()
lis2
lis1.insert(3, 'Vinay')
lis1

[12, 'Surya', 'Rohan', 'Vinay', True, (3+5j), 12]

Dictionary

In [12]:
dict = {'Rahul':45, 'Rohan':43, 'Sachan':22}
dict.keys()
dict.values()
dict['Rohan']= 47
dict['Neha'] = 33
dict1 = {'Akash':43, 'Wan':28}
dict.update(dict1)  #Concatenation
#dict
dict.pop('Rohan')
dict

{'Rahul': 45, 'Sachan': 22, 'Neha': 33, 'Akash': 43, 'Wan': 28}

Set - Duplicates(Repeatition) is not allowed

In [13]:
s1 = {1,2,'Praneeth', 'and', 'Ainesh', False, 1}
s1
s1.add('Bhivi')
s1.remove(2)
s2 = {5,"Irina",'ab', 'Praneeth',1}
#s1.update(s2)
#s1
s1.union(s2)
s1.intersection(s2)

{1, 'Praneeth'}

If statement

In [14]:
a = -10
b = -20
if a%b ==a:
    print("a is less than b")

else:
    print("a is greater than b")

a is less than b

In [15]:
a = 11
b = 20
b%a

9

In [16]:
tup = (1,4,3,7,9,10)
i = 0
for i in range (i,len(tup)):
    print(f"{i+1}th element is {tup[i]}")

1th element is 1
2th element is 4
3th element is 3
4th element is 7
5th element is 9
6th element is 10

In [17]:
n = 4
res = 1
i = 1
while(i<=n):
    res = res*i
    i += 1

res

24

In [18]:
list = [1,2,3,4,5]
i = 0
for i in range(0,len(list)):
    list[i] = list[i]+100
list

[101, 102, 103, 104, 105]

In [19]:
list1 = ['richard','antony','ezio']

for i in list1:
    print(i)

richard
antony
ezio

In [20]:
n = int(input("Enter the number: "))
if n%2 == 0:
    print("Number is Even")
else: print("Number is Odd")

Number is Even

In [21]:
n = float(input("Enter the number:"))
if n>0:
    print('positive')
elif n==0:
    print('zero')
else:print('negative')

negative

In [22]:
n = int(input("Enter the number:"))
def factorial(n):
    res = 1
    if n==0 & n==1:
        return 1
    else:
        for i in range(1,n+1):
            res = res*i
    return res
print(factorial(n))

5040

In [23]:
n = int(input("Enter the number: "))
temp = n
rev=0
while (n>0):
    dig = n%10
    rev = 10*rev + dig
    n = int(n/10)
rev

if temp == rev: print("It is a palindrome")
else : print("It is not a palindrome")

It is a palindrome

In [24]:
n = int(input("Enter the number: "))
l1 = []
for i in range(1,n):
    if(n%i == 0):
        l1.append(i)
        

#print(f"{l1}")
print(l1)

[1, 2, 4, 5, 10, 20, 25, 50]

In [25]:
l1 = input("Enter the numbers: ").split(',')

for i in range(0,len(l1)):
    l1[i] = 2*int(l1[i])
print(f"{l1}")

[4, 6]

In [26]:
l1 = input("Enter the numbers: ").split(',')

for i in range(0,len(l1)):
    l1[i] = 2*(int(l1[i]))
print(f"{l1}")

[6, 8]

In [27]:
x=y=z=4
x+y+z 
a,b,c = 22,2.5,'I am Praneeth'
a+b

24.5

In [28]:
a = 3+5j
a.imag
b = 1.6e4
c = 10>9
c
d='abcd'
#d[1:-1]
e = 'efgh'
(d+e)[4:7]

'efg'

In [29]:
int(True)
str(True)
a = 2
b = 3
print("a =", a, end='\n\n')
print("b =", b)
print(a,b,sep=',',end='#')

a = 2

b = 3
2,3#

In [30]:
a = 2
b = 10
a**b
l1 = [1,2,3,4,5,6]
b not in l1
bool(-3.14)

True

In [31]:
a = 7
~a
b = -11
~b

10