In [1]:
a = 9
if(a>5 and a<=10):
    print('Hello')
else: print('Bye')

Hello

In [2]:
n = int(input())
sum = 0
for i in range (n+1):
    sum = sum+i

print(sum)

55

In [3]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [4]:
list = ["Praneeth", 1,2,[2,3,6,9]]
list.append([1,2])
list.insert(-1, 12)
list.remove('Praneeth')
del list[1]
list.pop(0)
list.append(12)
list.remove(12)
list
list1 = [1,2,2.5,-4.4]
list1.sort()
list1.reverse()
list1.clear()

In [5]:
tup = (1,2,[1,2,3],(2,3,4))
tup[2][0] = 4
tup
tup1 = ('e', 'a', 'e')
tup1.index('e')
tup2 = (1,3,3,5,5,7,0,-1)
sorted(tup2)

[-1, 0, 1, 3, 3, 5, 5, 7]

In [6]:
capitals = {"USA" : "Washington D.C", "France" : "Paris"}
capitals["USA"] 
len(capitals)
capitals["India"] = 'New Delhi'
#capitals.pop('USA')
#capitals.popitem()         # removes last item only
capitals
c1 = capitals               # changes made in c1 will affect capitals

c1['USA'] = 123
c1
capitals
c2 = capitals.copy()
c2
c2['Bahrain'] = 'Saudi'
c2
c2.get('USA')

123

In [2]:
d = eval(input())             # Dictionary as input

for i,j in d.items():
    print(f"{i}: {j}")

name: John
age: 22
sex: male

In [7]:
s1 = {1,2,2,2,2,1}
s1.add('python')
s1
s1.remove(1)
s1.update()
s1
s2 = {2,3,True,'mahesh'}
s1.intersection(s2)
s1.update([5,6])
s1
s3 = {1,2}
s3.difference(s1)

{1}

In [8]:
s1 = 'Python'
list = ['Praneeth', 'Aryan', 'Python', 'Rapid', 'Hero']
tup = ('Hello', 1,2,3, 'Python')
#set = {[1,2,3], 'abc', 'Python'}

if s1 in list:
    print(s1+' is present')

if s1 in tup:
    print(s1 +' is in tup')

Python is present
Python is in tup

In [9]:

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
if a==b:
    print("They are equal")
else: print("They are not equal")

They are not equal

In [10]:
n = 450

result = n*8 if n>400 else n/8

print(result)

3600

In [1]:
n1 = int(input("Enter N1: "))
op = input("Enter the operator: ")
n2 = int(input('Enter N2: '))

if op == '+':
    print(n1+n2)
elif op == '-':
    print(n1-n2)
elif op =='*':
    print(n1*n2)
elif op =='/':
    print(n1/n2)
else:print("Invalid Operator")

100

In [12]:
n1 = int(input())
n2 = int(input())
n3 = int(input())

if n1>n2:
    if n1>n3: print(n1, "is highest")
    else: print(n3, "is highest")
else:
    if n2>n3: print(n2 ,"is highest")
    else: print(n3, "is highest")

101 is highest

In [13]:
a = 0
b = 1
list = []
list.append(a)
list.append(b)
i = 2
while(i<10):
    list.append(list[i-1]+list[i-2])
    i += 1
list

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [14]:
n = int(input())
list = []
for i in range(2,n):
    if(n%i == 0):
        list.append(i)
if len(list) == 0: print('Prime')
else: print('Composite')

Prime

In [2]:
l=[[1 ,2, 3], [4, 5, 6], [7, 8, 9]]

[[row[i] for row in l] for i in range(3)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]